  <div class="pure-g" style="position:relative">

      <!-- Video area -->
      <div class="pure-u-2-3" id="w-video-container">
          <p>作業風景</p>
          <video id="w-my-video" autoplay></video>
          <p>依頼者2</p>
          <video id="w-their-video" muted="true" autoplay></video>
      </div>

      <!-- Steps -->
      <div class="pure-u-1-3">

        <div id="step1">
        </div>

        <!-- Make calls to others -->
        <div id="step2">
            <p><a data-no-turbolink='true' href="#" class="pure-button pure-button-success" id="make-call">作業を開始</a></p>
        </div>

        <!-- Call in progress -->
        <div id="step3">
          <p><a data-no-turbolink='true' href="#" class="pure-button pure-button-error" id="end-call">作業を終了</a></p>
        </div>

          <h2>現地の放射線量</h2>
          <img src="http://www.fmu.ac.jp/home/lib/radiation/motion.jpg" style="width:240px; height:120px;">
          <p></p>
          <b>今日の作業</b><br/>
          (1:自宅) 周辺確認/草刈り/花の種まき<br/>
          (2:波江小学校) 花の種まき<br/>
          <p></p>

      </div>
  </div>
  <div>
      <b>目的地</b>：<%= @work.address %><br/>
      <div id="map-canvas-target"></div>
  </div>
