 <div class="row">
  <div class="col-md-12">
    <div class="box">
    <div class="box-header">
      <h3 class="box-title">登録完了</h3>
    </div><!-- /.box-header -->
    <div class="box-body text-center">
      <h4>ご利用ありがとうございました。</h4>
      <h4>完了メールをお送りしました。</h4>
      <h4><%= @work.supporter.profile.name %>さんにお礼を伝えてみませんか？</h4>
      <h4><input type="text" size="30" placeholder="ありがとうございました" /><input type="submit" value="送信" /></h4>
      <h4><%= link_to 'マイページに戻る', u_home_path %></h4>
    </div><!-- /.box-body -->
  </div>
</div>
